@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: teal;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: teal;
  --color-secondary: teal;
}

.font-urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee-scroll 22s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}
